<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header class="ec-header" th:fragment="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <section class="py-0">
        <div class="container-small">
            <div class="ecommerce-topbar">
                <nav class="navbar navbar-expand-lg navbar-light px-0">
                    <div class="row gx-0 gy-2 w-100 flex-between-center">
                        <div class="col-auto"><a class="text-decoration-none" th:href="@{/}">
                            <div class="d-flex align-items-center"><img src="/admin/img/icons/logo.png" alt="phoenix"
                                                                        width="27">
                                <p class="logo-text ms-2">phoenix</p>
                            </div>
                        </a></div>
                        <div class="col-auto order-md-1">
                            <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
                                <li class="nav-item d-flex align-items-center">
                                    <div class="theme-control-toggle fa-icon-wait px-2"><input
                                            class="form-check-input ms-0 theme-control-toggle-input" type="checkbox"
                                            data-theme-control="phoenixTheme" value="dark"
                                            id="themeControlToggle"><label
                                            class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                                            for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Switch theme"><span class="icon"
                                                                       data-feather="moon"></span></label><label
                                            class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                                            for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Switch theme"><span class="icon" data-feather="sun"></span></label>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link px-2 icon-indicator icon-indicator-primary"
                                                        th:href="@{/order/cart}" role="button"><span
                                        class="text-body-tertiary"
                                        data-feather="shopping-cart"
                                        style="height:20px;width:20px;"></span><span
                                        class="icon-indicator-number" th:text="${orderItemSize}"></span></a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link px-2 icon-indicator-sm icon-indicator-danger"
                                       th:classappend="${notification == null} ? '' : 'icon-indicator'"
                                       id="navbarTopDropdownNotification" href="#" role="button"
                                       data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="text-body-tertiary" data-feather="bell"
                                              style="height:20px;width:20px;"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret mt-2"
                                         id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication"
                                         th:if="${notification != null}">
                                        <div class="card position-relative border-0">
                                            <div class="card-header p-2">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="text-body-emphasis mb-0 text-primary">Product is in stock</h5>
                                                </div>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="scrollbar-overlay" style="height: 27rem;">
                                                    <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom"
                                                         th:each="product : ${notification}">
                                                        <div class="d-flex align-items-center justify-content-between position-relative">
                                                            <div class="d-flex">
                                                                <a th:href="@{/product/details/} + ${product.id}">
                                                                    <div class="avatar avatar-m status-online me-3"><img
                                                                            class="rounded-circle"
                                                                            th:src="${product.imageNames[0]}" alt="">
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis"
                                                                            th:text="${product.name}"></h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal">
                                                                        <span class='me-1 fs-10'
                                                                              th:text="${product.description}"></span>
                                                                        </p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span
                                                                                class="me-1 fas fa-clock"></span><span
                                                                                class="fw-bold"
                                                                                th:text="${product.updatedAt}"> </span>
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown"><a class="nav-link px-2" id="navbarDropdownUser" href="#"
                                                                 role="button" data-bs-toggle="dropdown"
                                                                 data-bs-auto-close="outside" aria-haspopup="true"
                                                                 aria-expanded="false"><span class="text-body-tertiary"
                                                                                             data-feather="user"
                                                                                             style="height:20px;width:20px;"></span></a>
                                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border mt-2"
                                         aria-labelledby="navbarDropdownUser" th:if="${userAuth != null}">
                                        <div class="card position-relative border-0">
                                            <div class="card-body p-0">
                                                <div class="text-center pt-4 pb-3">
                                                    <a th:href="@{/profile}">
                                                        <div class="avatar avatar-xl ">
                                                            <img class="rounded-circle "
                                                                 th:src="${'/media/images/user/' + userAuth.imageNames[0]}"
                                                                 alt="">
                                                        </div>
                                                        <h6 class="mt-2 text-body-emphasis"
                                                            th:text="${userAuth.lastName}"></h6>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="overflow-auto scrollbar" style="height: 10rem;">
                                                <ul class="nav d-flex flex-column mb-2 pb-1">
                                                    <li class="nav-item" th:if="${userAuth.role != 'ROLE_ADMIN'}">
                                                        <a class="nav-link px-3" th:href="@{/admin/}"><span
                                                            class="me-2 text-body" data-feather="pie-chart"></span>Dashboard</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link px-3" href="#!"> <span
                                                            class="me-2 text-body" data-feather="globe"></span>Language</a>
                                                    </li>
                                                    <hr>
                                                    <li class="nav-item"><a class="nav-link px-3" href="#!"> <span
                                                            class="me-2 text-body" data-feather="help-circle"></span>Help
                                                        Center</a></li>
                                                </ul>
                                            </div>
                                            <div class="card-footer p-0 border-top border-translucent">
                                                <div class="px-3"><a
                                                        class="btn btn-phoenix-secondary d-flex flex-center w-100"
                                                        th:href="@{/logout}">
                                                    <span class="me-2" data-feather="log-out"></span>Sign out</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item" th:if="${userAuth == null}">
                                    <a class="nav-link px-2" href="/login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div><!-- end of .container-->
    </section><!-- <section> close ============================-->
    <!-- ============================================-->

    <nav class="ecommerce-navbar navbar-expand navbar-light bg-body-emphasis justify-content-between">
        <div class="container-small d-flex flex-between-center" data-navbar="data-navbar">
            <div class="dropdown">
                <button class="btn text-body ps-0 pe-5 text-nowrap dropdown-toggle dropdown-caret-none"
                        data-category-btn="data-category-btn" data-bs-toggle="dropdown"><span
                        class="fas fa-bars me-2"></span>Category
                </button>
                <div class="dropdown-menu border border-translucent py-0 category-dropdown-menu">
                    <div class="card border-0 scrollbar" style="max-height: 657px;">
                        <div class="card-body p-6 pb-3">
                            <div class="row gx-7 gy-5 mb-5">
                                <div class="col-12 col-sm-6 col-md-4" th:each="category : ${categoryList}">
                                    <div class="d-flex align-items-center mb-3"
                                         th:with="iconClass=${category.name == 'Smartphone' ? 'fa-mobile' :
                                         category.name == 'Laptop' ? 'fa-laptop' : category.name == 'Computer' ?
                                         'fa-desktop' : ''}">
                                        <span class="fa text-primary me-2 " style="stroke-width:3;"
                                              th:classappend="${iconClass}"></span>
                                        <h6 class="text-body-highlight mb-0 text-nowrap"
                                            th:text="${category.name}"></h6>
                                    </div>
                                    <div class="ms-n2" th:each="subCategory : ${category.subcategory}"><a
                                            class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                                            th:href="${'/' + subCategory.name}" th:text="${subCategory.name}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center border-top border-translucent pt-3"><a class="fw-bold" href="#!">See
                                all Categories<span class="fas fa-angle-right ms-1"
                                                    data-fa-transform="down-1"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav justify-content-end align-items-center">
                <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link ps-0"
                                                                      href="/">Home</a></li>
                <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link"
                                                                      href="/product/wishlist">Wishlist</a>
                </li>
                <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link" href="/admin/add-product.html">Be
                    a vendor</a></li>
                <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link" href="/order/history">Track
                    order</a></li>
                <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link pe-0" href="checkout.html">Checkout</a>
                </li>
                <li class="nav-item dropdown" data-nav-item="data-nav-item" data-more-item="data-more-item"><a
                        class="nav-link dropdown-toggle dropdown-caret-none fw-bold pe-0" href="javascript: void(0)"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        data-boundary="window" data-bs-reference="parent"> More<span
                        class="fas fa-angle-down ms-2"></span></a>
                    <div class="dropdown-menu dropdown-menu-end category-list" aria-labelledby="navbarDropdown"
                         data-category-list="data-category-list"></div>
                </li>
            </ul>
        </div>
    </nav>
</header>
</html>